<a href="https://colab.research.google.com/github/Minada-mac/New-python/blob/main/Colab_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**This Tutorial includes: Syntax-Comments-Variables**

# **Python Syntax**

In [ ]:
print('Hello, World!')

Hello, World!

# ***Title*** ⏰

# **How Python Code Gets Executed **

Python Executer run our code line by line from the top.

In [ ]:
print("Introduction to computers")

print('o----')

print(' ||||')

Introduction to computers
o----
 ||||

In [ ]:
print("Introduction to computers")

print('o----')

print(' ||||')

print('*' * 10)

Introduction to computers
o----
 ||||
**********

In [ ]:
price = 10
print(price)

10

In [ ]:
price = 10
price = 20
print(price)

20

# **Python Indentation**

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

Example:

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Python will give you an error if you skip the indentation:

Example
Syntax Error:

In [ ]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-37-a314491c53bb>, line 2)

The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one.

Example:

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

You have to use the same number of spaces in the same block of code, otherwise Python will give you an error:

Example
Syntax Error:

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (<ipython-input-41-a4dba24e2a47>, line 3)

# **Python Comments**
Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

Creating a Comment
Comments starts with a #, and Python will ignore them:

Example:

In [ ]:
#This is a comment
print("Hello, World!")

Hello, World!

Comments can be placed at the end of a line, and Python will ignore the rest of the line:

Example

In [ ]:
print("Hello, World!") #This is a comment

Hello, World!

A comment does not have to be text that explains the code, it can also be used to prevent Python from executing code:

Example:

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

Multiline Comments
Python does not really have a syntax for multiline comments.

To add a multiline comment you could insert a # for each line:

Example:

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

Example:

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

# **Variables in Python**

Variables are containers for storing data values.

**Creating Variables**

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

**Casting**

If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

**Get the Type**

You can get the data type of a variable with the type() function.

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

**Single or Double Quotes?**

String variables can be declared either by using single or double quotes:

In [ ]:
x = "John"
print(x)
#double quotes are the same as single quotes:
x = 'John'
print(x)

John
John

**Case-Sensitive**

Variable names are case-sensitive.

This will create two variables:

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

# **Variable Names**
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

A variable name must start with a letter or the underscore character

A variable name cannot start with a number

A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

Variable names are case-sensitive (age, Age and AGE are three different variables)

A variable name cannot be any of the Python keywords(and, as, else, elif, import, etc).

Example of **Legal variable names**:

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John


**Illegal variable names:**

#This example will produce an error in the result

In [ ]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (<ipython-input-22-a6a85c9660e1>, line 1)

# **Multi Words Variable Names**

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:


Camel Case

Each word, except the first, starts with a capital letter:

**myVariableName = "John"**


Pascal Case

Each word starts with a capital letter:

**MyVariableName = "John"**


Snake Case

Each word is separated by an underscore character:

**my_variable_name = "John"**

# **Python Variables - Assign Multiple Values**

Many Values to Multiple Variables
Python allows you to assign values to multiple variables in one line:

Example:

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

**Unpack a Collection**

If you have a collection of values in a list, Python allows you to extract the values into variables. This is called unpacking.

Example Unpack a list:

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# **Python-Output Variables**

The Python print() function is often used to output variables.

Example:

In [ ]:
x = "Python is awesome"
print(x)

Python is awesome

In the print() function, you output multiple variables, separated by a comma:

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

You can also use the + operator to output multiple variables:

Example:

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".

For numbers, the + character works as a mathematical operator:

Example:

In [ ]:
x = 5
y = 10
print(x + y)

15

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

Example

In [ ]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

Example

In [ ]:
x = 5
y = "John"
print(x, y)

5 John

# **Python-Global Variables**

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

Example:

Create a variable outside of a function, and use it inside the function

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

Example:

Create a variable inside a function, with the same name as the global variable

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

**The global Keyword**

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

Example
If you use the global keyword, the variable belongs to the global scope:

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Also, use the global keyword if you want to change a global variable inside a function.

Example
To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Whenever you are done in the python command line, you can simply type the following to quit the python command line interface:

# **Exercises**

---

Insert the missing part of the code below to output "Hello World".

("Hello World")


Answer:
print("Hello World")

# **Comments-Exercise1:**

Comments in Python are written with a special character, which one?

❓This is a comment

✅ **Answer:**
#This is a comment

# **Comments-Exercise2:**

Use a multiline string to make the a multiline comment:


❓

This is a comment

written in

more than just one line

❓

**Answer: **

"""

This is a comment

written in

more than just one line

"""

# **Variable-Exercise1:**

Create a variable named carname and assign the value Volvo to it.


 ❓ = " ❓ "

# **Variable-Exercise2:**
Create a variable named x and assign the value 50 to it.

Answer: x = 50

Exercise:
Display the sum of 5 + 10, using two variables: x and y.

Answer:
 =
y = 10
print(x y)

# **Variable-Exercise3:**

Create a variable called z, assign x + y to it, and display the result.


x = 5
y = 10
 = x + y
print()

# **Variable-Exercise4:**

Insert the correct syntax to assign values to multiple variables in one line:


x, y, z = "Orange", "Banana", "Cherry"

# **Variable_Exercise5:**

Insert the correct syntax to assign the same value to all three variables in one code line.

x **bold text**= y = z = "Orange"

# **Variable-Exercise6:**

Insert the correct keyword to make the variable x belong to the global scope.


def myfunc():
 x
 x = "fantastic"